<div class="p-6 bg-white rounded-xl shadow-md max-w-xl mx-auto">
  <h2 class="text-2xl font-bold mb-4">Book this Room</h2>
  <form [formGroup]="bookingForm" class="space-y-4">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Check-In Date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="checkInDate" [matDatepickerFilter]="filterDates"
        (focus)="clearBookingError()" (dateChange)="clearBookingError()">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 [dateClass]="dateClass" (opened)="clearBookingError()"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Check-Out Date</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="checkOutDate" [matDatepickerFilter]="filterDates"
        (focus)="clearBookingError()" (dateChange)="clearBookingError()">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [dateClass]="dateClass" (opened)="clearBookingError()"></mat-datepicker>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill" class="w-full">
      <mat-label>Number of Guests</mat-label>
      <input type="number" matInput formControlName="guestCount" min="1" required (focus)="clearBookingError()"/>
    </mat-form-field>
    <div *ngIf="this.bookingForm.value['guestCount'].errors?.maxGuestsExceeded" class="text-red-500 text-sm mt-1">
      Number of guests exceeds allowed limit ({{ roomMaxGuests }}).
    </div> -->

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Adults</mat-label>
      <input type="number" matInput formControlName="adultCount" min="1" required (focus)="clearBookingError()" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Children</mat-label>
      <input type="number" matInput formControlName="childCount" min="0" required (focus)="clearBookingError()" />
    </mat-form-field>

    <div *ngIf="bookingForm.errors?.['guestLimitExceeded']" class="text-red-500 text-sm mt-1">
      Number of guests exceeds the room’s capacity ({{ room.maximumAllowedAdult }} adults & {{ room.maximumAllowedChild
      }} children).
    </div>


    <div *ngIf="totalPrice > 0" class="text-green-600 font-semibold">
      Total Price: ₹{{ totalPrice }}
    </div>

    <!-- booking error  -->
    <div *ngIf="bookingError" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
      <div class="alert alert-danger">
        {{ bookingError.message }}
      </div>

      <div *ngIf="bookingError.availableBeforeBooking">
        <!-- ✅ Room is available from -->
        ✅ Check-In is available from
        <strong>{{ bookingError.availableBeforeBooking.from }}</strong>
        to
        <strong>{{ bookingError.availableBeforeBooking.to }}</strong>
      </div>

      <div *ngIf="bookingError.nextAvailableCheckIn">
        📅 Next available check-in:
        <strong>{{ bookingError.nextAvailableCheckIn }}</strong>
      </div>
    </div>
    <!-- booking error end  -->

    <!-- <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-semibold px-4 py-2 rounded"
      (click)="bookRoom()">
      Book
    </button> -->
    <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-semibold px-4 py-2 rounded"
      (click)="proceedToCheckout()">
      Proceed To Checkout
    </button>

  </form>
</div>